footer
    //for background experiment
    color cd-darkblue
    background-color white

    padding 30px 10px
    box-sizing: border-box
    border-top solid 10px cd-turquoise

.footer-section
    @extends footer
    border-top solid 10px cd-darkblue

.footer
    display: flex
    justify-content: center
    align-items: center
    font-size: 10pt

    .sustsol-icon
        height 25px
        width 25px
        background-image url("img/icon.png")
        background-size: contain
        background-repeat: no-repeat

    
.footer-text-block
    margin 7px
    text-align left
    line-height: 120%