// registrationform styles

// =================================================================
// doctor registration
#doctor-location-block
    display flex
    align-items: center
    #doctor-plz-input 
        width 60px
        margin-right 5px
    #doctor-location-input
        width calc(100% - 65px)

#doctor-want-fax-block
    display: flex
    align-items: center
    #doctor-want-fax-input
        width 20px

#doctor-want-call-block
    display: flex
    align-items: center
    #doctor-want-call-input
        width 20px

#doctorregistrationview
    .content-section
        .content-slogan
            text-align left

    #doctorsupport-success-frame
        display none
    
    #doctorsupport-success-frame
        width: 100%
        max-width 600px
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
        margin 30px auto
    #doctorsupport-success-decoration
        width: 45px        
        height 45px
        svg
            width inherit
            height inherit
    #doctorsupport-success-message
        width fit-content
        margin-left 30px


#doctorregistrationview.success
    #doctorregistration-form
        display none
    .agb-hint-block
        display none

    #doctorsupport-success-frame
        display flex

// =================================================================
// general
.agb-hint-block
    text-align: center