// doctorloginform styles
#doctorloginview.here
    transform translateX(0)

#doctorloginview
    @extends .fullpage-view

    .support-link-block
        margin-top 30px
        
#doctorlogin-heading
    font-size 16pt
    background-color: cd-flash
    .back-button
        padding 10px 20px
        display: flex
        align-items: center
        justify-content: space-between
    svg
        width 30px
        height 30px
