// doctorloginform styles
#doctorloginview
    .dark-support-block
        margin-top 50px

// specifics for doctorloginformblock
#save-login-block
    display flex
    align-items: center
    margin-top 10px

#save-login-input
    width 20px

#doctorlogin-submit-button
    margin-top 10px
    cursor: pointer
    text-transform: uppercase
// specifics for doctormiscblock
#doctormisc-hint-text
    margin-bottom 20px

#doctormisc-continue-button
    min-width 150px
    text-transform: uppercase

#no-login-data
    margin-bottom 5px
// #get-login-data-link    
//     text-transform: uppercase

// use larger screens
@media screen and (min-width: 750px)
    #doctorloginview
        .form-section
            display grid
            grid-gap 50px
            grid-template-columns: auto auto
    