include ../svgiconsmodule/svgicons.pug
include ../hiddentextmodule/hiddentext.pug
include ../patientloginviewmodule/patientloginview.pug
include ../doctorloginviewmodule/doctorloginview.pug

header: include ../headermodule/header.pug
main: include components/main.pug
footer: include ../footermodule/footer.pug