include ../svgiconsmodule/svgicons.pug
include ../patientloginviewmodule/patientloginview.pug
include ../doctorloginviewmodule/doctorloginview.pug

header
    #header-logo
    h1#header-subtitle Bilder und Befunde online
main
    #patient-login-block
        .login-button.click-button
            .login-text Patienten Login
            .login-arrow: svg: use(href="#svg-right-arrow")
    #doctor-login-block
        .login-button.click-button
            .login-text Ärzte und Personal
            .login-arrow: svg: use(href="#svg-right-arrow")
    .support-link-block
        a.link-button.click-button(href="/support.html") Support 

footer
    //- #sustsol-icon: svg: use(href="#svg-cross-icon")
    #sustsol-icon
    #sustsol-text SustSol GmbH - 8044 Graz, Mariatroster Strasse 378b/7 
