// patientloginform styles
#patientloginview
    .dark-support-block
        margin-top 50px

    .hint
        margin-bottom 15px

    #no-pin-question
        font-weight: bold
        margin-bottom 10px
        cursor pointer

#patient-svn-login-form
    #svn-block
        display flex
        align-items: center
        #svn-part-input 
            width 50px
            box-sizing: border-box
        #svn-separator
            width 12px
            text-align: center
            box-sizing: border-box
        #birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#patient-authcode-login-form
    #authcode-block
        display flex
        align-items: center
        #authcode-prefix 
            width 30px
            box-sizing: border-box
        #authcode-input
            width calc(100% - 30px)
            box-sizing: border-box

#patient-renew-pin-form
    #pin-renew-svn-block
        display flex
        align-items: center
        #pin-renew-svn-part-input 
            width 50px
            box-sizing: border-box
        #pin-renew-svn-separator
            width 12px
            box-sizing: border-box
            text-align: center
        #pin-renew-birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box


// use larger screens
@media screen and (min-width: 750px)
    #patientloginview
        .form-section
            display grid
            grid-gap 50px
            grid-template-columns: auto auto
