// patientloginform styles
#patientloginview.here
    transform translateX(0)

#patientloginview
    @extends .fullpage-view
    
    .form-section > *
        position absolute
        top 0
        left 50%
        height 200px
        transform translateX(102vw)
        transition: transform 0.3s
    
    .form-section
        .here
            position:  relative
            transform translateX(-50%)
        
#patientlogin-heading
    font-size 16pt
    background-color: cd-flash
    .back-button
        padding 10px 20px
        display: flex
        align-items: center
        justify-content: space-between
    svg
        width 30px
        height 30px

#patientlogin-options
    margin-top 10px
    .form-button
        border 2px solid cd-flash
        background-color cd-flash
        width 50%
        padding 7px
    .on
        .form-button
            background-color cd-background
            color cd-flash

#patient-fail-options
    margin-top 10px
    margin-bottom 10px
    .fail-button
        margin-top 5px
        text-decoration: underline
        color cd-flash
    .on
        .fail-button
            text-decoration: none
            color cd-foreground

#patient-svn-login-form
    .hint
        margin-bottom 15px
    #svn-block
        display flex
        align-items: center
        #svn-part-input 
            width 50px
            box-sizing: border-box
        #svn-separator
            width 12px
            box-sizing: border-box
        #birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#patient-authcode-login-form
    .hint
        margin-bottom 15px
    #authcode-block
        display flex
        align-items: center
        #authcode-prefix 
            width 30px
            box-sizing: border-box
        #authcode-input
            width calc(100% - 30px)
            box-sizing: border-box

#patient-renew-pin-form
    .hint
        margin-bottom 15px
    #pin-renew-svn-block
        display flex
        align-items: center
        #pin-renew-svn-part-input 
            width 50px
            box-sizing: border-box
        #pin-renew-svn-separator
            width 12px
            box-sizing: border-box
        #pin-renew-birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box
