// supportbutton styles
.support-link-block
    font-size: 14pt
    color white

    .link-button
        padding 20px
        box-sizing: border-box
        
        // for background experiment
        // border 1px solid white    
        border 1px solid white    
        
        width 280px
        text-align: center
