// supportbutton styles
.support-link-block
    font-size: 15pt
    color white

    .link-button
        padding 15px
        box-sizing: border-box
        
        // for background experiment
        // border 1px solid white    
        border 1px solid white    
        
        width 280px
        text-align: center

.dark-support-block
    text-align: center
    .support-link-block
        color cd-darkblue

        .link-button
            border 1px solid cd-darkblue