// registrationform styles

// =================================================================
// patient registration
#patient-location-block
    display flex
    align-items: center
    #patient-plz-input 
        width 60px
        margin-right 5px
    #patient-location-input
        width calc(100% - 65px)

#patient-want-email-block
    display: flex
    align-items: center
    #patient-want-email-input
        width 20px

#patient-want-call-block
    display: flex
    align-items: center
    #patient-want-call-input
        width 20px


#patientregistrationview
    .content-section
        .content-slogan
            text-align left

// =================================================================
// general
.agb-hint-block
    text-align: center

.contact-times
    font-size 10pt
    margin-top: 20px
    display block
