// registrationform styles

// =================================================================
// patient registration
#patient-location-block
    display flex
    align-items: center
    #patient-plz-input 
        width 60px
        margin-right 5px
    #patient-location-input
        width calc(100% - 65px)

#patient-want-email-block
    display: flex
    align-items: center
    #patient-want-email-input
        width 20px

#patient-want-call-block
    display: flex
    align-items: center
    #patient-want-call-input
        width 20px


#patientregistrationview
    .content-section
        .content-slogan
            text-align left

    #patientsupport-success-frame
        display none
    
    #patientsupport-success-frame
        width: 100%
        max-width 600px
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
        margin 30px auto
    #patientsupport-success-decoration
        width: 45px        
        height 45px
        svg
            width inherit
            height inherit
    #patientsupport-success-message
        width fit-content
        margin-left 30px


#patientregistrationview.success
    #patientsupport-form
        display none
    .agb-hint-block
        display none

    #patientsupport-success-frame
        display flex

// =================================================================
// general
.agb-hint-block
    text-align: center

.contact-times
    font-size 10pt
    margin-top: 20px
    display block
