@import '../buttonstylemodule/styles.styl'
@import '../doctorloginviewmodule/styles.styl'
@import '../footermodule/styles.styl'
@import '../formstylemodule/styles.styl'
@import '../headermodule/styles.styl'
@import '../pageviewstylemodule/styles.styl'
@import '../patientloginviewmodule/styles.styl'
@import '../registrationviewmodule/styles.styl'
@import '../supportbuttonmodule/styles.styl'
@import '../svgiconsmodule/styles.styl'
