@import '../buttonstylemodule/styles.styl'
@import '../doctorloginviewmodule/styles.styl'
@import '../patientloginviewmodule/styles.styl'
@import '../registrationviewmodule/styles.styl'
@import '../svgiconsmodule/styles.styl'
