//- hiddentext structure
#hiddentext
    #svn-login-error404() !{content.svnLogin404ErrorText}
    #svn-login-error401() !{content.svnLogin401ErrorText}
    #nosvn-login-error() !{content.nosvnLoginErrorText}
    #pin-renew-error() !{content.pinRenewErrorText}