//- header structure
#header
    a(href="/")#header-logo-block
        #header-logo
        h1#header-subtitle !{content.headerSubtitle}
    #header-language-tags 
        #header-de-tag-link !{content.deTagLink} 
        #header-en-tag-link !{content.enTagLink}