header
    //for background experiment
    // height: 20vh
    padding 20px
    box-sizing: border-box
    color cd-flash
    background-color white
    background-image url("/img/background_3.png")
    background-size: contain
    background-repeat: no-repeat
    background-position right

    #header-logo
        height 50px
        background-image: url("/img/logo-positive.png")
        background-size: contain
        background-repeat: no-repeat
        background-position center
        margin-bottom 10px
    
        //for background experiment
        max-width: 320px
        margin auto
    
    h1
        font-size: 14pt
        text-align: right
    
        //for background experiment
        max-width: 320px
        margin auto

#header
    display grid
    grid-template-columns: auto auto auto
    max-width 1024px
    margin auto

#header-language-tags
    display flex
    margin-left auto
#header-language-tags > *
    padding 0 3px