header
    padding 20px 0
    box-sizing: border-box
    color cd-darkblue
    background-color white

    #header-logo-block
        margin-right: auto
        margin-left 10px
    
    #header-logo
        height 50px
        width: 240px
        margin auto
        margin-bottom 10px
        background-image: url("img/logo-positive.png")
        background-size: contain
        background-repeat: no-repeat
        background-position center
    
    
    h1
        font-size: 14pt
        text-align: right    
        max-width: 320px
        margin auto

#header
    display grid
    grid-template-columns: auto auto
    max-width max-content-width
    margin auto

#header-language-tags
    display flex
    margin-left auto
    margin-right 10px
    // a
    //     color cd-darkblue
    // a:link
    //     color cd-turquoise
    
#header-language-tags > *
    padding 0 3px
    font-size: 10pt
