// patientloginform styles
#compatibilityloginview
    .dark-support-block
        margin-top 50px

    .hint
        margin-bottom 15px

    #no-pin-question
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */        
        font-weight: bold
        // margin-bottom 10px
        cursor pointer
        z-index: 3
        position relative

    .grey-extension-block
        background-color transparent
        padding 0

    .grey-extension-block > *
        background-color cd-lightgrey
        padding 20px
    
    .extension-block-content
        position relative
        padding-top 0
        z-index 0
        top -300px
        opacity 0
        // transition: all 0.3s 
        
    .extension-block-content.shown
        transform: translateY(300px)
        opacity: 1
        // transition: none 

    .form-block-heading 
        position relative
        z-index 999
    // .form-section-block
    //     overflow: hidden

#compatibility-svn-login-form
    #svn-block
        display flex
        align-items: center
        #svn-part-input 
            width 50px
            box-sizing: border-box
        #svn-separator
            width 12px
            text-align: center
            box-sizing: border-box
        #birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#compatibility-authcode-login-form
    #authcode-block
        display flex
        align-items: center
        #authcode-prefix 
            width 30px
            box-sizing: border-box
        #authcode-input
            width calc(100% - 30px)
            box-sizing: border-box

#compatibility-renew-pin-form
    #compatibility-pin-renew-svn-block
        display flex
        align-items: center
        #compatibility-pin-renew-svn-part-input 
            width 50px
            box-sizing: border-box
        #compatibility-pin-renew-svn-separator
            width 12px
            box-sizing: border-box
            text-align: center
        #compatibility-pin-renew-birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#request-code-error-feedback-text
#svn-error-feedback-text
#authcode-error-feedback-text
    font-weight: bold
    grid-column: 1 / 3
    font-size 8pt
    line-height: 120%
    color: cd-error-red
    
// use larger screens
@media screen and (min-width: 750px)
    #compatibilityloginview
        .form-section
            display grid
            grid-gap 50px
            grid-template-columns: auto auto