// patientloginform styles
#compatibilityloginview
    .dark-support-block
        margin-top 50px

    .hint
        margin-bottom 15px

    #no-pin-question
        font-weight: bold
        margin-bottom 10px
        cursor pointer

#compatibility-svn-login-form
    #svn-block
        display flex
        align-items: center
        #svn-part-input 
            width 50px
            box-sizing: border-box
        #svn-separator
            width 12px
            text-align: center
            box-sizing: border-box
        #birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#compatibility-authcode-login-form
    #authcode-block
        display flex
        align-items: center
        #authcode-prefix 
            width 30px
            box-sizing: border-box
        #authcode-input
            width calc(100% - 30px)
            box-sizing: border-box

#compatibility-renew-pin-form
    #compatibility-pin-renew-svn-block
        display flex
        align-items: center
        #compatibility-pin-renew-svn-part-input 
            width 50px
            box-sizing: border-box
        #compatibility-pin-renew-svn-separator
            width 12px
            box-sizing: border-box
            text-align: center
        #compatibility-pin-renew-birthday-part-input
            width calc(100% - 62px)
            box-sizing: border-box

#compatibility-pin-renew-error-feedback-text
#svn-error-feedback-text
#authcode-error-feedback-text
    font-weight: bold
    grid-column: 1 / 3
    font-size 8pt
    line-height: 120%

// use larger screens
@media screen and (min-width: 750px)
    #compatibilityloginview
        .form-section
            display grid
            grid-gap 50px
            grid-template-columns: auto auto