main
    background-color cd-darkblue
    color white
    min-height: calc(100vh - 180px)

#main
    max-width 1024px
    margin auto
    h1
        font-size: 32pt
        font-weight: bold
        line-height: 110%

    .login-button
        background-color cd-turquoise
        padding 20px
        display flex
        align-items: center
        justify-content: space-between
        overflow: hidden
        text-align left

        svg
            height 35px
            width 35px

#main-block-top
    display: flex
    justify-content: center
    padding-top content-padding-top
    padding-bottom content-padding-bottom

#main-block-content
    max-width: 320px
    padding: 10px
    box-sizing: border-box

#content-title
    padding-bottom 20px

#content-slogan
    padding-bottom 60px
    
#patient-login-block
    margin-bottom 90px

#doctor-login-block
    margin-bottom 30px

#support-block
    padding-bottom 30px

#main-block-decoration
    display: none
    width 800px
    background-image url("/img/iStock_Frau.png")
    background-size: contain
    background-repeat: no-repeat
    background-position center


@media screen and (min-width: 800px)
    #main-block-decoration
        display: block
