main
    background-color cd-darkblue
    color white
    min-height: calc(100vh - 180px)

#main
    max-width 1024px
    margin auto
    h1
        font-size: 30pt
        font-weight: bold
        line-height: 105%

    .login-button
        background-color cd-turquoise
        padding 15px
        padding-left 30px
        display flex
        align-items: center
        justify-content: space-between
        overflow: hidden
        text-align left
        font-size: 16pt
    .login-text
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        
    .login-arrow
        height 35px
        width 35px
        svg
            height 35px
            width 35px

#main-block-top
    display: flex
    justify-content: center
    padding-top content-padding-top
    padding-bottom content-padding-bottom

#main-block-content
    max-width: 380px
    padding: 10px
    box-sizing: border-box

#content-title
    padding-bottom 10px

#content-slogan
    padding-bottom 35px
    font-size: 13pt
    line-height: 120%

#patient-login-block
    margin-bottom 50px
    span
        // text-decoration: underline
        font-size: 12pt
#doctor-login-block
    margin-bottom 20px
    span
        // text-decoration: underline
        font-size: 12pt

#support-block
    padding-bottom 30px
    font-size: 16pt

#main-block-decoration
    display: none
    position relative
    width 500px
    background-image url("img/iStock_Frau.png")
    background-size: contain
    background-repeat: no-repeat
    background-position center
    margin-left auto
    
    p
        font-size: 14px
        position absolute
        bottom -46px
        left 50%
        transform translateX(-50%)
    a
        text-decoration underline

@media screen and (min-width: 800px)
    #main-block-decoration
        display: block
