#main
    #registration-block
        .registration-button.click-button
            .registration-text !{content.registrationButtonText}
            .registration-arrow: svg: use(href="#svg-right-arrow")
