#main
    #doctorregistration-block.block
        .registration-button.click-button
            .registration-text !{content.doctorregistrationButtonText}
            .registration-arrow: svg: use(href="#svg-right-arrow")
    
    #patientregistration-block.block 
        .registration-button.click-button
            .registration-text !{content.patientregistrationButtonText}
            .registration-arrow: svg: use(href="#svg-right-arrow")
