main
    background-color cd-darkblue
    color white
    min-height: min-content-height

#main
    max-width max-content-width
    margin auto
    padding-top content-padding-top
    padding-bottom content-padding-bottom
    svg
        height 30px
        width 30px
    
    .registration-button
        font-size 16pt
        background-color cd-turquoise
        padding 20px
        display flex
        align-items: center
        justify-content: space-between
        overflow: hidden
    .block
        margin-bottom 30px