main
    // padding 5vh 0 20px 20px

    //for background experiment
    padding 12vh 0 20px 20px

    box-sizing: border-box

main > *
    width 100%
    box-sizing: border-box
    position relative

    font-size 16pt
    
    svg
        height 30px
        width 30px
    
    .registration-button
        background-color cd-flash
        position absolute
        right 0
        top 0
        padding 20px
        display flex
        align-items: center
        justify-content: space-between
        overflow: hidden